@import "resets";
@import "config";
@import "mixins";


body {
   @include flex;
   background-color: black;
   overflow: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  font-family: 'Orbitron', sans-serif;
  color: rgba(255, 255, 255, 1);
}

.clockFace {
  @include flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url('../images/clockface.png') center center no-repeat;
  background-size: cover;

  p {
    margin: 10px 0;
    font-size: 2em;
    text-shadow : 2px 2px 0.5em rgba(255, 255, 255, .5);
    transform: skew(-5deg) rotate(-8deg) translateX(-20px) translateY(42px);


    @media only screen and (max-height: 500px){
      font-size: 1.5em;
    }

    @media only screen and (max-height: 370px) and (max-width: 760px){
      font-size: 1em;
    }

    @media only screen and (max-height: 370px) and (max-width: 650px){
      font-size: .8em;
    }

    @media only screen and (max-height: 370px) and (max-width: 590px){
      font-size: .7em;
    }

  }

  .face-right {
    transform: skewY(0deg) rotateX(-42deg) scaleX(0.25) rotateY(-387deg) translateX(1372px) translateY(-489px) !important;

  }

  // p:first-of-type {
  //   margin-top: -3%;
  // }
}

.analogue {
  height: 100vh;
  width: 100vw;
  // background: url('../images/analogue-min.png') center center no-repeat;
  background-size: cover;
  overflow: hidden;

img {
  width: 1440px;
  height: 798px;
  position: absolute;
  top: 0;
  left: 0;
}


}
.widget-clock .square {
  // position: absolute;
  width: 420px;
  height: 420px;
  transform: rotate(-90deg);
  top: 200px;
  left: 440px;
  padding: 0;
}

.widget-clock .digital {
  margin: 10px;
}

.link, link:hover, link:active, link:visited {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  color: #fff;
  margin: 10px;
}

.fade-in {
  animation: fade-in 1s linear forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
