@import "resets";
@import "config";
@import "mixins";

body {
   @include flex;
}

section {
  height: 100vh;
  width: 100vw;
  font-family: 'Orbitron', sans-serif;
  background: url('../images/clockface.png') center center no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
}

.clockFace {
  @include flex;
  position: absolute;
  width: 100vw;
  height: 100vh;

  p {
    margin: 10px 0;
    font-size: 2em;
    text-shadow : 2px 2px 0.5em rgba(255, 255, 255, .5);
    transform: skew(-5deg) rotate(-8deg) translateX(-20px) translateY(42px);


    @media only screen and (max-height: 500px){
      font-size: 1.5em;
    }

    @media only screen and (max-height: 370px) and (max-width: 760px){
      font-size: 1em;
    }

    @media only screen and (max-height: 370px) and (max-width: 650px){
      font-size: .8em;
    }

    @media only screen and (max-height: 370px) and (max-width: 590px){
      font-size: .7em;
    }

  }

  .face-right {
    transform: skewY(0deg) rotateX(-42deg) scaleX(0.25) rotateY(-387deg) translateX(1252px) translateY(-439px) !important;

  }


  // p:first-of-type {
  //   margin-top: -3%;
  // }
}
